<md-list dense *ngIf="selectCarrier">
  <md-list-item *ngFor="let carrera of carreras">
     <a (click)="selected(carrera.code)"> {{carrera.name.substring(16,carrera.name.length)}}</a>
  </md-list-item>
</md-list>

<div class="nav-content">
<ul class="brown darken-3 tabs">
  <li class="tab" *ngFor="let level of levels"><a class="white-text" (click)="selectedLevel(level.code)">{{level.code}}</a></li>
</ul>
</div>

<div class="row">

  <div class="col l3 s12">
    <div *ngIf="!selectCarrier">
      <ul *ngIf="showMatter" class="collection with-header">
          <li class="collection-header"><h5>Materias: </h5></li>
            <a *ngFor="let matter of level.subjects" (click)="showGroups(matter)" 
            [ngClass]="{'active': matter.showShedule }" class="collection-item">
              {{matter.name}}
            </a>
      </ul>
      
      <div *ngIf="showgroups">
            <h6>Grupos:</h6>
            <li *ngFor="let schedule of groups">
              <a (click)="addSchedule(schedule.schedule,schedule)"
              >
              {{schedule.teacher | lowercase}} - {{schedule.code}}</a>
            </li>    
      </div>
    </div>

    <div *ngIf="myMatters.length>0">
      <p *ngFor="let item of myMatters">{{item.nameMatter}} - </p>
    </div>
  </div>

  <div class="col l9 s12">

  <table *ngIf="!selectCarrier" class="centered striped tabla bordered">
    <thead class="brown darken-3">
      <th class="white-text">-</th>
      <th class="white-text">Lunes</th>
      <th class="white-text">Martes</th>
      <th class="white-text">Miercoles</th>
      <th class="white-text">Jueves</th>
      <th class="white-text">Viernes</th>
      <th class="white-text">Sabado</th>
    </thead>
    <tbody class="schedule">
      <tr *ngFor="let schedule of tabla.schedule">
        <td class="brown darken-2 white-text">{{schedule.hour}}</td>
        <td class="white-text" *ngFor="let item of schedule.array"
        [ngClass]="[item.color,'darken-4']" >{{item.materia}}</td>
      </tr>
    </tbody>
  </table>

  </div>
</div>

<!--[ngClass]="{'blue': item.color != ''}"-->